:root {
  --bg-color: #ffffff;
  --text-color: #333;
  --card-bg: #f8f9fa;
  --card-text: #333;
  --input-bg: #ffffff;
  --input-text: #000000;
  --input-border: #ccc;
  --dropzone-bg: #f8f9fa;
  --dropzone-border: #ccc;
  --dropzone-text: #666;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-bg: #1e1e1e;
  --card-text: #ffffff;
  --input-bg: #2a2a2a;
  --input-text: #ffffff;
  --input-border: #777;
  --dropzone-bg: #2a2a2a;
  --dropzone-border: #555;
  --dropzone-text: #aaa;
}

.password-strength {
  height: 5px;
  border-radius: 3px;
  margin-top: 5px;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.weak {
  width: 33%;
  background-color: #e74c3c; /* Красный */
}

.medium {
  width: 66%;
  background-color: #f39c12; /* Оранжевый */
}

.strong {
  width: 100%;
  background-color: #2ecc71; /* Зелёный */
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.card {
  background-color: var(--card-bg) !important;
  color: var(--card-text) !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

input,
textarea,
select {
  background-color: var(--input-bg) !important;
  color: var(--input-text) !important;
  border: 1px solid var(--input-border) !important;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border 0.5s ease-in-out;
}

.custom-input {
  background-color: var(--input-bg) !important;
  color: var(--input-text) !important;
  border: 1px solid var(--input-border) !important;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  border-color: #4caf50 !important;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.8);
}

.dropzone {
  background-color: var(--dropzone-bg) !important;
  border: 2px dashed var(--dropzone-border) !important;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out, color 0.5s ease-in-out;
  color: var(--dropzone-text);
}

.dropzone:hover {
  border-color: #4caf50 !important;
}

@keyframes fadeTransition {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeSuccess {
  0% {
    background-color: #d4edda;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes fadeError {
  0% {
    background-color: #f8d7da;
  }
  100% {
    background-color: transparent;
  }
}

.success-animation {
  animation: fadeSuccess 1.5s ease-in-out;
}

.error-animation {
  animation: fadeError 1.5s ease-in-out;
}

/* Анимация появления аватарки */
@keyframes avatarFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.avatar {
  animation: avatarFadeIn 0.5s ease-in-out;
}


body {
  animation: fadeTransition 0.5s ease-in-out;
}
